<footer id="footer">
    <div class="content">
        <div class="header-info footer-info">
                <a href="index.html" class="logo">
                    <div class="logo__img">
                        <img src="img/png/logo.png" alt="логотип компании Статус ">
                    </div>
                    <div class="logo__text">
                        <p>Юридическая компания "Статус"</p>
                        <p>Юридические услуги для физических и юридических лиц</p>
                    </div>
                </a>
                <div class="contacts-block">
                        <p>г. Кингисепп, ул. Воровского, 18А, офис 318</p>
                        <p>Телефон: 8-957-535-31-31</p>
                        <p>Почта: status-law@mail.ru</p>
                        <p>
                            <span>Наш сайт:</span><a href="#">status-law.ru</a>
                        </p>
                        <div>
                            <span class="work-time">Часы работы:</span>
                            <p>
                                <span>Пн-Пт: </span><span>ежедневно</span>
                            </p>
                            <p>
                                <span>Сб-Вс: </span>
                                <span>по предварительной записи</span>
                            </p>
                        </div>
                </div>
            </div>
    </div>
</footer>

<script src="js/main.js"></script>
</body>
</html>