<header>
    <div class="content">
        <nav class="header-nav">
            <ul>
                <li><a href="#services">Для физических лиц</a></li>
                <li><a href="#services">Для юридических лиц</a></li>
                <li><a href="#advantages">Наши преимущества</a></li>
                <li><a href="#faq">Полезная информация</a></li>
                <li><a href="#footer">Наши контакты</a></li>
                <li class="mobile-item"><a>Заказать звонок</a></li>
            </ul>
        </nav>
        <div id="mobile-btn">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="header-info">
            <a href="index.html" class="logo">
                <div class="logo__img">
                    <img src="img/png/logo.png" alt="логотип компании Статус ">
                </div>
                <div class="logo__text">
                    <p>Юридическая компания "Статус"</p>
                    <p>Юридические услуги для физических и юридических лиц</p>
                </div>
            </a>
            <div class="phone">
                <p>8-957-535-31-31</p>
                <a href="#">Обратный звонок</a>
            </div>
        </div>
        <div class="header-big">
            <div class="header-big__top">
                <span>
                    Вернем, отстоим<br>
                    и улучшим<br>
                    Ваш Status
                </span>
            </div>
            <div class="header-big__bottom">
                <div class="about">
                    <p>
                        Квалифицированная юридическая помошь
                        в решении любых правовых вопросов
                    </p>
                </div>
                <div class="contact-btn">
                    <button class="connect">Связаться со специалистом</button>
                </div>
                <div class="boxer"></div>
                <div class="femida"></div>
            </div>
        </div>
        <div id="always-free">Консультация бесплатно!</div>
    </div>
</header>