@font-face {
  font-family:"roboto black";
  src: url("../fonts/Roboto-Black.ttf") format("truetype");
  font-weight:normal;
  font-style:normal;
}
@font-face {
  font-family:"roboto light";
  src: url("../fonts/Roboto-Light.ttf") format("truetype");
  font-weight:normal;
  font-style:normal;
}
@font-face {
  font-family:"roboto medium";
  src: url("../fonts/Roboto-Medium.ttf") format("truetype");
  font-weight:normal;
  font-style:normal;
}
@font-face {
  font-family:"roboto regular";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight:normal;
  font-style:normal;
}