@media all {
  //------------global styles----------------
  p {
    margin: 0;
  }
  .header-info {
    display: flex;
    justify-content: space-between;
    font: normal 19px "roboto light";
    margin-top: 40px;
    .logo {
      display: flex;
      text-decoration: none;
      &__img {

      }
      &__text {
        margin-left: 22px;
        margin-top: 9px;
        line-height: 24px;
        p:last-child {
          font-size: 15px;
        }
      }
    }
    .phone {
      margin-top: 10px;
      p {
        font: normal 24px "roboto medium";
      }
      a {
        text-decoration: underline;
        color: #606060;
        font: normal 17px "roboto light";
        margin-left: 66px;
        display: block;
        margin-top: 4px;
      }
    }
  }
  .connect {
    // this class added to all button's on the page, and his call popup
  }
  button:focus {
    outline: none;
  }
  .show-tab {
    display: block;
  }
  .hide-tab {
    display: none;
  }
  //------------global styles----------------


  //------------header styles----------------
  header {
    background: url("../img/jpg/header-bg.jpg") center no-repeat;
    height: 843px;
    background-size: cover;
    color: #fff;
    .content {
      overflow: hidden;
    }
    a {
      color: #fff;
    }
  }
  .content {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    position: relative;
  }
  .header-nav {
    display: flex;
    justify-content: flex-start;
    ul {
      list-style: none;
      margin: 39px 0 0 84px;
      padding: 0;
      display: flex;
      justify-content: space-between;
      width: 100%;
      .mobile-item {
        display: none;
      }
      li {
        display: inline-block;
        &:not(:first-child) {
          margin-left: 0;
        }
        a {
          text-decoration: none;
          border-bottom: 1px dashed #fff;
          padding-bottom: 3px;
          font: normal 16px "roboto regular";
        }
      }
    }
  }
  .header-big {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    &__top {
      background: url("../img/png/border-gradient.png") no-repeat;
      width: 630px;
      height: 272px;
      span {
        font: normal 50px "roboto black";
        display: inline-block;
        margin-left: 57px;
        margin-top: 43px;
        //border: 30px solid;
        //-webkit-border-image: -webkit-gradient(linear, 0 0, 0 100%, from(black), to(rgba(44, 16, 24, 1))) 1 100%;
      }
    }
    &__bottom {
      position: relative;
      .about {
        color: #c4c6d5;
        font: normal 19px "roboto light";
        margin-top: 36px;
        width: 395px;
      }
      .boxer {
        background: url("../img/png/boxer.png") no-repeat;
        width: 379px;
        height: 617px;
        position: absolute;
        bottom: -113px;
        right: 189px;
        z-index: 100;
      }
      .femida {
        background: url("../img/png/femida.png") no-repeat;
        z-index: 200;
        width: 299px;
        height: 574px;
        position: absolute;
        bottom: -156px;
        right: -14px;
      }
    }
  }
  .contact-btn {
    margin-top: 53px;
    button {
      border: 2px solid #dd2734;
      background: none;
      outline: none;
      color: #fff;
      font: normal 22px "roboto medium";
      padding: 33px 44px;
      border-radius: 45px;
    }
  }
  #mobile-btn {
    display: none;
  }
  #always-free {
    position: absolute;
    width: 400px;
    background: #dd2734;
    right: -96px;
    bottom: 61px;
    font: normal 20px "Oswald Medium";
    text-align: center;
    padding: 30px 0;
    transform: rotateZ(-45deg);
    z-index: 200;
  }
  //-----------header styles------------------

  //---------main styles----------------------
  main {
    position: relative;
  }
  .services {
    background-color: #edeef0;
    .services-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 45px;
      &__title {
        font: normal 35px "roboto light";
        color: #111111;
        margin: 47px 0 0;
        text-align: center;
      }
      .btn-group {
        margin-top: 29px;
        button {
          background: none;
          border: 1px solid #dd2734;
          color: #dd2734;
          font: normal 18px "roboto light";
          margin: 0 9px;
          &:first-child {
            padding: 15px 44px;
            border-radius: 33px;
          }
          &:last-child {
            padding: 15px 24px;
            border-radius: 27px;
          }
        }
        .active-btn {
          color: #fff;
          background: #dd2734;
        }
      }
      .price-block {
        margin-top: 50px;
        background: #fff;
        max-width: 1000px;
        width: 100%;
        .no-border {
          border-bottom: 0;
        }
        &__row {
          display: flex;
          justify-content: space-between;
          max-width: 818px;
          margin: 0 auto;
          width: 100%;
          padding: 30px 0;
          border-bottom: 1px solid #d5d5d5;
          align-items: center;
          &:first-child {
            margin: 55px auto 0;
          }
          .services-name {
            font: normal 20px "roboto medium";
            color: #1e1e1e;
            width: 390px;
            span {
              font-family: "roboto light";
            }
          }
          .services-price {
            font: normal 24px "roboto medium";
            color: #dd2734;
          }
          &:last-child {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-top: 2px;
            padding-bottom: 95px;
            p {
              display: block;
              align-items: center;
              span {
                display: inline-block;
                width: 100%;
                max-width: 760px;
                line-height: 21px;
                font: normal 17px "roboto light";
              }
            }
            .attention {
              font: normal 20px "roboto black";
              color: #dd2734;
            }
            .attention-1 {
              margin-top: 20px;
            }
            .attention-2 {
              margin-top: 12px;
            }
            .important-icon {
              width: 35px;
              height: 31px;
              margin-right: 15px;
              padding: 0 2px;
            }
            .important-1 {
              background: url("../img/png/important-1.png") center no-repeat;
            }
            .important-2 {
              background: url("../img/png/important-2.png") center no-repeat;
            }
          }
        }
      }
    }
  }
  .advantages {
    background: #fff;
    .advantages-content {
      padding-bottom: 57px;
      &__title {
        text-align: center;
        font: normal 30px "roboto medium";
        color: #111111;
        position: relative;
        margin: 62px 0 0;
        &:after {
          position: absolute;
          content: '';
          background: url("../img/png/advantages-title.png") no-repeat;
          width: 56px;
          height: 23px;
          bottom: -39px;
          left: 50%;
          margin-left: -28px;
        }
      }
      .advantages-group_first {
        margin-top: 142px;
      }
      .advantages-group_last {
        margin-top: 60px;
      }
      .advantages-group {
        display: flex;
        justify-content: space-between;
        .efficiency {
          &:before {
            content: '';
            background: url("../img/png/efficiency.png") no-repeat;
            width: 53px;
            height: 55px;
            position: absolute;
            left: 0;
            top: -3px;
          }
        }
        .creative {
          &:before {
            content: '';
            background: url("../img/png/creative.png") no-repeat;
            width: 54px;
            height: 54px;
            position: absolute;
            left: 0;
            top: -3px;
          }
        }
        .effective {
          &:before {
            content: '';
            background: url("../img/png/effective.png") no-repeat;
            width: 49px;
            height: 55px;
            position: absolute;
            left: 0;
            top: -3px;
          }
        }
        .professional {
          &:before {
            content: '';
            background: url("../img/png/professional.png") no-repeat;
            width: 55px;
            height: 55px;
            position: absolute;
            left: 0;
            top: -3px;
          }
        }
        .advantages-block {
          color: #000;
          position: relative;
          padding-left: 80px;
          &__title {
            font: normal 24px "roboto black";
            margin-bottom: 10px;
          }
          &__description {
            font: normal 18px "roboto light";
            width: 235px;
            line-height: 30px;
          }
        }
      }
    }
  }
  .tariff {
    background: url("../img/jpg/tariff-bg.jpg") center no-repeat;
    height: 788px;
    background-size: cover;
    .tariff-content {
      &__title {
        color: #111;
        text-align: center;
        position: relative;
        padding-top: 96px;
        &:before {
          position: absolute;
          content: '';
          top: 72px;
          left: 50%;
          margin-left: -35px;
          width: 70px;
          height: 6px;
          box-sizing: border-box;
          border-bottom: 6px solid #cf3143;
        }
        h5 {
          margin: 0;
          font: normal 30px "roboto medium";
        }
        p {
          font: normal 22px "roboto light";
        }
      }
      .tariff-group {
        display: flex;
        justify-content: center;
        margin-top: 65px;
        &__type {
          width: 420px;
          background: #fff;
          display: flex;
          flex-direction: column;
          align-items: center;
          margin: 0 14px;
          .title {
            margin-top: 56px;
            font: normal 28px "roboto light";
            color: #111;
            text-align: center;
            span {
              color: #cf3143;
              font: normal 28px "roboto medium";
            }
          }
          .description {
            color: #3a3a3a;
            font: normal 18px "roboto light";
            text-align: center;
            margin-top: 18px;
            width: 90%;
          }
          .border {
            margin-top: 41px;
            display: block;
            box-sizing: border-box;
            border-bottom: 2px solid #e9a0a9;
            width: 96px;
          }
          .description-heavy {
            font: normal 18px "roboto medium";
            color: #202020;
            text-align: center;
            margin-top: 28px;
            width: 79%;
          }
          .price {
            font: normal 24px "roboto light";
            color: #009a46;
            margin-top: 28px;
          }
          button {
            background: none;
            font: normal 18px "roboto medium";
            color: #009a46;
            border: 2px solid #009a46;
            margin-top: 30px;
            padding: 17px 37px;
            border-radius: 40px;
            margin-bottom: 56px;
          }
        }
      }
    }
  }
  .faq {
    .faq-content {
      &__title {
        margin-top: 68px;
        p {
          font: normal 34px "roboto medium";
          color: #434343;
          line-height: 48px;
          &:first-child {
            font: normal 22px "roboto medium";
            color: #cf3143;
          }
        }
      }
      .all-question {
        display: flex;
        flex-direction: column;
        margin-left: 68px;
        margin-top: 43px;
        margin-bottom: 113px;
        .active-quest {
          &:before {
            background: url("../img/jpg/close-question.jpg") no-repeat;
          }
          .visible-questblock {
            color: #cf3143;
            border-color: #cf3143;
          }
          .hidden-questblock {
            display: block;
          }
        }
        &__one {
          position: relative;
          margin: 20px 0 15px 0;
          display: flex;
          flex-direction: column;
          &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            background: url("../img/jpg/open-question.jpg") no-repeat;
            width: 34px;
            height: 34px;
          }
          .visible-questblock {
            cursor: pointer;
            border-bottom: 1px dashed #111;
            font: normal 22px "roboto medium";
            color: #111;
            padding-bottom: 5px;
            margin-left: 50px;
            display: inline-table;
          }
          .hidden-questblock {
            display: none;
            font: normal 18px "roboto light";
            color: #111;
            margin-left: 50px;
            margin-top: 20px;
          }
        }
      }
    }
  }
  .help {
    background: url("../img/jpg/footer-bg.jpg") center no-repeat;
    height: 464px;
    background-size: cover;
    .content {
      height: 100%;
    }
    .help-content {
      display: flex;
      justify-content: center;
      height: 100%;
      &__description {
        color: #fff;
        display: flex;
        flex-direction: column;
        margin-top: 82px;
        max-width: 500px;
        width: 100%;
        p:nth-child(1) {
          font: normal 28px "roboto black";
        }
        p:nth-child(2) {
          font: normal 28px "roboto light";
          margin-top: 8px;
        }
        p:nth-child(3) {
          font: normal 17px "roboto light";
          margin-top: 20px;
          width: 76%;
          line-height: 24px;
        }
        p:nth-child(4) {
          font: normal 18px "roboto light";
          margin-top: 61px;
        }
        p:nth-child(5) {
          font: normal 32px "roboto black";
          margin-top: 8px;
        }
      }
      &__form {
        display: flex;
        flex-direction: column;
        max-width: 500px;
        width: 100%;
        background: rgba(0,0,0,0.5);
        height: 100%;
        align-items: center;
        justify-content: center;
        form {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
        p {
          color: #fff;
          font: normal 26px "roboto black";
        }
        textarea {
          height: 100px;
          padding-left: 13px;
          margin-top: 7px;
          padding-top: 10px;
          resize: none;
        }
        input {
          margin-top: 20px;
          height: 40px;
          padding-left: 15px;
          padding-top: 5px;
          padding-bottom: 5px;
        }
        input, textarea {
          background: #fff;
          border: none;
          outline: none;
          width: 300px;
          border-radius: 13px;
          font: normal 16px "roboto light";
          &:-moz-placeholder {
            color: #757575;
          }
          &:-ms-input-placeholder {
            color: #757575;
          }
          &::-webkit-input-placeholder {
            color: #757575;
          }
        }
        button {
          border: none;
          background: #d41e2f;
          color: #fff;
          margin-top: 5px;
          padding: 15px 60px;
          border-radius: 40px;
          font: normal 22px "roboto medium";
          width: 315px;
        }
      }
    }
  }
  //---------main styles----------------------

  //---------footer styles--------------------
  footer {
    height: auto;
    background: #222;
  }
  .footer-info {
    color: #989898;
    margin-top: 0;
    padding-top: 19px;
    padding-bottom: 30px;
    .logo {
      color: #989898;
      &__img {
        img {
          width: 32px;
          height: 43px;
          padding-top: 7px;
        }
      }
      &__text {
        p {
          font: normal 19px "roboto light";
          &:last-child {
            font-size: 15px;
          }
        }
      }
    }
    .contacts-block {
      color: #989898;
      font: normal 16px "roboto light";
      .work-time {
        font-size: 18px;
        color: #fff;
      }
      p {
        margin: 10px 0;
        white-space: nowrap;
      }
      a {
        font: normal 16px "roboto light";
        text-decoration: none;
        color: #989898;
      }
    }
  }
  //---------footer styles--------------------
}

@media screen and (max-width: 1024px) {
  .content {
    padding: 0 15px;
    max-width: 970px;
    box-sizing: border-box;
  }
  //------------header styles----------------
  header {
    height: 716px;
  }
  .header-nav {
    display: flex;
    justify-content: center;
    ul {
      margin-left: 0;
      li {
        a {
          font-size: 13px;
        }
      }
    }
  }
  .header-info {
    margin-top: 20px;
    font-size: 18px;
    .logo {
      &__img {
        display: flex;
        align-items: center;
        img {
          width: 35px;
          height: 45px;
        }
      }
      &__text {
        p:last-child {
          font-size: 13px;
        }
      }
    }
    .phone {
      p {
       font-size: 20px;
      }
      a {
        font-size: 15px;
        margin-left: 0;
        text-align: right;
      }
    }
  }
  .header-big {
    &__top {
      width: 456px;
      background-size: contain;
      height: 225px;
      span {
        font-size: 40px;
        margin-top: 24px;
        margin-left: 44px;
      }
    }
    &__bottom {
      .about {
        margin-top: 0;
      }
      .boxer {
        display: none;
      }
      .femida {
        bottom: -190px;
        right: 0;
      }
    }
  }
  .contact-btn {
    margin-top: 30px;
    margin-left: 75px;
    button {
      padding: 25px 33px;
    }
  }
  //-----------header styles------------------

  //---------main styles----------------------
  .services {
    .services-content {
      .price-block {
        box-sizing: border-box;
        padding: 0 25px;
        &__row {
          &:last-child {
            .attention-1 {
              display: flex;
            }
            .attention-2 {
              display: flex;
            }
          }
        }
      }
    }
  }
  //---------main styles----------------------

  //---------footer styles--------------------
  .footer-info {
    margin-top: 0;
    .logo {
      &__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
  }
  //---------footer styles--------------------
}

@media screen and (max-width: 910px) {
  .header-nav {
    ul {
      display: flex;
      justify-content: space-between;
      width: 100%;
      li {
        &:not(:first-child) {
          margin-left: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  //------------header styles----------------
  #mobile-btn {
    z-index: 2000;
    display: block;
    width: 60px;
    height: 45px;
    position: relative;
    top: 15px;
    left: 15px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }
  #mobile-btn span {
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    background: #d3531a;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
  #mobile-btn span:nth-child(1) {
    top: 0px;
  }
  #mobile-btn span:nth-child(2) {
    top: 18px;
  }
  #mobile-btn span:nth-child(3) {
    top: 36px;
  }
  #mobile-btn.open span:nth-child(1) {
    top: 18px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  #mobile-btn.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
  }
  #mobile-btn.open span:nth-child(3) {
    top: 18px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }
  .header-nav {
    display: none;
    max-width: 768px;
    width: 100%;
    background: rgba(0,0,0,0.9);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
    ul {
      text-align: center;
      margin: 85px 0 0 0;
      flex-direction: column;
      .mobile-item {
        display: block;
      }
      li {
        display: block;
        &:not(:first-child) {
          margin-left: 0;
        }
        a {
          border-bottom: none;
          font-size: 20px;
          margin: 35px 0;
          animation: font 1s ease 0s 1;
          display: block;
        }
        @keyframes font {
          0%{font-size: 0px; margin: 0px 0px;}
          100%{font-size: 20px; margin: 35px 0;}
        }
      }
    }
  }
  .active-nav {
    display: block;
  }
  .header-info {
    margin-top: 50px;
  }
  .header-big {
    align-items: center;
       &__top {
         span {

         }
       }
       &__bottom {
         .about {

         }
         .boxer {
           display: none;
         }
         .femida {
           display: none;
         }
       }
     }
  .contact-btn {
    margin-left: 0;
    button {
      margin: 0 auto;
      display: block;
    }
  }
  #always-free {
    display: none;
  }
  //-----------header styles------------------

  //---------main styles----------------------
  .services {
    .services-content {
      &__title {

      }
      .btn-group {
        button {

        }
        .active-btn {

        }
      }
      .price-block {

        .no-border {

        }
        &__row {
          &:first-child {
            margin: 10px auto 0;
          }
          .services-name {
            font-size: 16px;
            width: 345px;
            span {
              font-size: 13px;
            }
          }
          .services-price {
            font-size: 16px;
          }
          &:last-child {

            p {

              span {

              }
            }
            .attention {

            }
            .attention-1 {

            }
            .attention-2 {

            }
            .important-icon {

            }
            .important-1 {

            }
            .important-2 {

            }
          }
        }
      }
    }
  }
  .advantages {
    .advantages-content {
      &__title {
        &:after {
        }
      }
      .advantages-group_first {
        margin-top: 83px;
      }
      .advantages-group_last {
        margin-top: 60px;
      }
      .advantages-group {
        justify-content: space-around;
        .advantages-block {
          padding-left: 60px;
          &__title {
            font-size: 18px;
          }
          &__description {
            font-size: 14px;
            width: 210px;
          }
        }
      }
    }
  }
  .tariff {
    height: auto;
    .tariff-content {
      &__title {
        padding-top: 35px;
        &:before {
          top: 20px;
        }
      }
      .tariff-group {
        flex-direction: column;
        align-items: center;
        margin-top: 0;
        &__type {
          margin: 20px 0;
          max-width: 400px;
          width: 100%;
        }
      }
    }
  }
  .faq {
    .faq-content {
      &__title {
        margin-top: 25px;
        p {
          text-align: center;
        }
      }
      .all-question {
        margin: 0 0 35px;
        .active-quest {
          .visible-questblock {
          }
          .hidden-questblock {
          }
        }
        &__one {

          .visible-questblock {
            font-size: 16px;
          }
          .hidden-questblock {
            font-size: 14px;
          }
        }
      }
    }
  }
  .help {
    .help-content {
      &__description {
        display: none;
      }
    }
  }
  //---------main styles----------------------

  //---------footer styles--------------------
  .footer-info {
    margin: 0;
    .logo {
      &__text {
        margin-left: 8px;
        p {
          font-size: 16px;
          &:last-child {
            font-size: 12px;
          }
        }
      }
    }
    .contacts-block {
      font-size: 14px;
    }
  }
  //---------footer styles--------------------
}

@media screen and (max-width: 603px) {
  //------------header styles----------------
  .header-info {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .logo {
      &__text {
        font-size: 23px;
      }
    }
    .phone {
      display: none;
    }
  }
  .header-big {
    &__top {
     background: none;
      max-width: 456px;
      width: 100%;
      span {
        margin-left: 0;
        text-align: center;
        display: block;
      }
    }
    &__bottom {
      .about {
        max-width: 395px;
        width: 100%;
      }
    }
  }
  //-----------header styles------------------

  //---------main styles----------------------
  .advantages {
    .advantages-content {
      .advantages-group_last {
        margin-top: 0;
      }
      .advantages-group {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .advantages-block {
          padding-left: 90px;
          margin: 17px 0;
          &__title {

          }
          &__description {

          }
        }
      }
    }
  }
  .services {
    .services-content {
      .btn-group {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 5px;
        button {
          margin: 15px 0;
          display: block;
          &:first-child {
            padding: 13px 34px;
          }
          &:last-child {
            padding: 13px 14px;
          }
        }
        .active-btn {

        }
      }
      .price-block {
        margin-top: 15px;
        &__row {
          &:first-child {
            margin: 10px auto 0;
          }
          .services-name {
            font-size: 16px;
            width: 345px;
            span {
              font-size: 13px;
            }
          }
          .services-price {
            font-size: 16px;
            white-space: nowrap;
          }
          &:last-child {

            p {

              span {

              }
            }
            .attention {

            }
            .attention-1 {

            }
            .attention-2 {

            }
            .important-icon {

            }
            .important-1 {

            }
            .important-2 {

            }
          }
        }
      }
    }
  }
  //---------main styles----------------------

  //---------footer styles--------------------
  .footer-info {
    margin: 0;
    .contacts-block {
      text-align: center;
      margin-top: 20px;
    }
  }
  //---------footer styles--------------------
}

@media screen and (max-width: 500px) {
  //------------header styles----------------
  .header-info {
    .logo {
      &__text {
        font-size: 15px;
        margin-left: 7px;
        p:last-child {
          font-size: 12px;
          text-align: center;
        }
      }
    }
  }
  //-----------header styles------------------

  //---------main styles----------------------
  .services {
    .services-content {
      .price-block {
        &__row {
          flex-direction: column;
          align-items: center;
          justify-content: center;
          .services-name {
            text-align: center;
            max-width: 345px;
            width: 100%;
          }
          .services-price {
            margin-top: 20px;
          }
        }
      }
    }
  }
  //---------main styles----------------------

  //---------footer styles--------------------
  .footer-info {
    margin: 0;
  }
  //---------footer styles--------------------
}