//= template/head.html
//= template/header.html

<main>

    <section class="services" id="services">
        <div class="content">
            <div class="services-content">
                <h5 class="services-content__title">Наши услуги</h5>
                <div class="btn-group">
                    <button class="active-btn" id="private-btn">Для физических лиц</button>
                    <button id="legal-btn">Для юридических лиц</button>
                </div>
                <div class="price-block" id="private">
                    <div class="price-block__row">
                        <p class="services-name">Устная консультация</p><p class="services-price">Бесплатно</p>
                    </div>
                    <div class="price-block__row">
                        <p class="services-name">Письменная консультация/правовая экспертиза документов</p>
                        <p class="services-price">от 1`000 руб.</p>
                    </div>
                    <div class="price-block__row">
                        <p class="services-name">Подготовка претензии</p>
                        <p class="services-price">от 1`000 руб.</p>
                    </div>
                    <div class="price-block__row">
                        <p class="services-name">
                            Представительство в мировом суде,
                            суде общей юрисдикции*
                        </p>
                        <p class="services-price">от 10`000 руб.</p>
                    </div>
                    <div class="price-block__row">
                        <p class="services-name">
                            Регистрация организации при создании*
                            <span>
                                (услуга включает: подготовку необходимого пакета документов,
                                предоставление в регистрирующий орган. Госпошлина не включается)
                            </span>
                        </p>
                        <p class="services-price">от 4`000 руб.</p>
                    </div>
                    <div class="price-block__row">
                        <p class="services-name">
                            Регистрация индивидуального предпринимателя (далее — ИП),
                            изменений сведений об ИП, прекращение статуса ИП*
                        </p>
                        <p class="services-price">от 2`000 руб.</p>
                    </div>
                    <div class="price-block__row no-border">
                        <p class="services-name">
                            Иные виды юридических услуг
                            <span>
                            </span>
                        </p>
                        <p class="services-price">по договоренности</p>
                    </div>
                    <div class="price-block__row no-border">
                        <p class="services-name">
                            * Без учета государственной пошлины
                        </p>
                        <p class="services-price"></p>
                    </div>
                    <div class="price-block__row no-border">
                        <p class="attention">Важно:</p>
                        <p class="attention-1">
                            <span class="important-icon important-1"></span>
                            <span>
                                Понесенные Вами судебные расходы (госпошлина, оплата наших услуг, экспертизы и проч.)
                                взыскиваются с ответчика.
                            </span>
                        </p>
                        <p class="attention-2">
                            <span class="important-icon important-2"></span>
                            <span>
                                Мы работаем на результат. Гарантия результата нашей работы обеспечивается системой
                                оплаты: 70 % от стоимости услуги — предоплата; 30 % — после достижения поставленной цели.
                            </span>
                        </p>
                    </div>
                </div>
                <div class="price-block hide-tab" id="legal" >
                    <div class="price-block__row">
                        <p class="services-name">Устная консультация</p><p class="services-price">Бесплатно</p>
                    </div>
                    <div class="price-block__row">
                        <p class="services-name">Письменная консультация/правовая экспертиза документов</p>
                        <p class="services-price">от 1`000 руб.</p>
                    </div>
                    <div class="price-block__row">
                        <p class="services-name">Составление договора/разработка типовой формы договора</p>
                        <p class="services-price">от 1`500 руб.</p>
                    </div>
                    <div class="price-block__row">
                        <p class="services-name">Подготовка претензии</p>
                        <p class="services-price">от 1`000 руб.</p>
                    </div>
                    <div class="price-block__row">
                        <p class="services-name">
                            Досудебное урегулирование споров
                            <span>
                                (подготовка письменной информации, участие в переговорах, урегулирование разногласий)
                            </span>
                        </p>
                        <p class="services-price">от 3`000 руб.</p>
                    </div>
                    <div class="price-block__row">
                        <p class="services-name">
                            Регистрация организации при создании*
                            <span>
                                (услуга включает: подготовку необходимого пакета документов,
                                предоставление в регистрирующий орган. Госпошлина не включается)
                            </span>
                        </p>
                        <p class="services-price">от 4`000 руб.</p>
                    </div>
                    <div class="price-block__row">
                        <p class="services-name">
                            Регистрация изменений организации*
                        </p>
                        <p class="services-price">от 3`000 руб.</p>
                    </div>
                    <div class="price-block__row">
                        <p class="services-name">
                            Реорганизация/ликвидация организации*
                            <span>
                                (услуга включает: подготовку плана мероприятий, необходимого пакета документов,
                                сопровождение выполнения мероприятий)
                            </span>
                        </p>
                        <p class="services-price">от 10`000 руб.</p>
                    </div>
                    <div class="price-block__row">
                        <p class="services-name">
                            Регистрация индивидуального предпринимателя (далее — ИП), изменений сведений об ИП,
                            прекращение статуса ИП*
                        </p>
                        <p class="services-price">от 2`000 руб.</p>
                    </div>
                    <div class="price-block__row">
                        <p class="services-name">
                            Представительство в арбитражных судах и судах общей юрисдикции*
                            Первая инстанция
                        </p>
                        <p class="services-price">от 15`000 руб.</p>
                    </div>
                    <div class="price-block__row">
                        <p class="services-name">
                            Апелляционная/кассационная/надзорная инстанции
                        </p>
                        <p class="services-price">от 10`000 руб.</p>
                    </div>
                    <div class="price-block__row">
                        <p class="services-name">
                            Подготовка документов в рамках исполнительного производства
                        </p>
                        <p class="services-price">от 2`000 руб.</p>
                    </div>
                    <div class="price-block__row">
                        <p class="services-name">
                            Сопровождение проверки уполномоченного органа
                            <span>
                                (услуга включает: подготовку плана мероприятий, необходимого пакета документов,
                                сопровождение выполнения мероприятий)
                            </span>
                        </p>
                        <p class="services-price">от 5`000 руб.</p>
                    </div>
                    <div class="price-block__row">
                        <p class="services-name">
                            Абонентское обслуживание Вашей организации
                            <span>
                                (решение всех юридических вопросов без лимита по количеству и времени)
                            </span>
                        </p>
                        <p class="services-price">от 15`000 руб.</p>
                    </div>
                    <div class="price-block__row no-border">
                        <p class="services-name">
                            Иные виды юридических услуг
                            <span>
                            </span>
                        </p>
                        <p class="services-price">по договоренности</p>
                    </div>
                    <div class="price-block__row no-border">
                        <p class="services-name">
                            * Без учета государственной пошлины
                        </p>
                        <p class="services-price"></p>
                    </div>
                    <div class="price-block__row no-border">
                        <p class="attention">Важно:</p>
                        <p class="attention-1">
                            <span class="important-icon important-1"></span>
                            <span>
                                Понесенные Вами судебные расходы (госпошлина, оплата наших услуг, экспертизы и проч.)
                                взыскиваются с ответчика.
                            </span>
                        </p>
                        <p class="attention-2">
                            <span class="important-icon important-2"></span>
                            <span>
                                Мы работаем на результат. Гарантия результата нашей работы обеспечивается системой
                                оплаты: 70 % от стоимости услуги — предоплата; 30 % — после достижения поставленной цели.
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="advantages" id="advantages">
        <div class="content">
            <div class="advantages-content">
                <h5 class="advantages-content__title">НАШИ ПРЕИМУЩЕСТВА</h5>
                <div class="advantages-group advantages-group_first">
                    <div class="advantages-block efficiency">
                        <p class="advantages-block__title">ОПЕРАТИВНОСТЬ</p>
                        <p class="advantages-block__description">
                            Работаем для Вас 24 часа
                            в сутки, 7 дней в неделю
                        </p>
                    </div>
                    <div class="advantages-block creative">
                        <p class="advantages-block__title">КРЕАТИВНОСТЬ</p>
                        <p class="advantages-block__description">
                            Не мыслим шаблонами -
                            предложим оптимальный вариант
                            решения индивидуального вопроса
                        </p>
                    </div>
                </div>
                <div class="advantages-group advantages-group_last">
                    <div class="advantages-block effective">
                        <p class="advantages-block__title">ЭФФЕКТИВНОСТЬ</p>
                        <p class="advantages-block__description">
                            Безупречное качество по наилучшей цене
                        </p>
                    </div>
                    <div class="advantages-block professional">
                        <p class="advantages-block__title">ПРОФЕССИОНАЛИЗМ</p>
                        <p class="advantages-block__description">
                            Защита Ваших прав для нас - не работа,
                            а любимое дело
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="tariff">
        <div class="content">
            <div class="tariff-content">
                <div class="tariff-content__title">
                    <h5>НАШИ ТАРИФЫ</h5>
                    <p>Гибкая система оплаты</p>
                </div>
                <div class="tariff-group">
                    <div class="tariff-group__type">
                        <p class="title">Для <span>физических лиц</span></p>

                        <span class="border"></span>

                        <p class="price">от 1000 рублей</p>
                        <button class="connect">Узнать подробности</button>
                    </div>
                    <div class="tariff-group__type">
                        <p class="title">Для <span>юридических лиц</span></p>

                        <span class="border"></span>

                        <p class="price">от 1000 рублей</p>
                        <button class="connect">Узнать подробности</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="faq" id="faq">
        <div class="content">
            <div class="faq-content">
                <div class="faq-content__title">
                    <p></p>
                    <p>ПОЛЕЗНАЯ</p>
                    <p>ИНФОРМАЦИЯ</p>
                </div>
                <div class="all-question">
                    <div class="all-question__one">
                        <div class="visible-questblock">
                            Положен ли возврат налога при покупке квартиры ребенку?
                        </div>
                        <div class="hidden-questblock">
                            Да, вы можете подьехать в наш офис по адресу ул. Ленина 18 офис 115 ежедневно, мы работаем
                            круглосуточно, потому что дорожим своими клиентами.
                        </div>
                    </div>
                    <div class="all-question__one">
                        <div class="visible-questblock">
                            Положен ли возврат налога при покупке квартиры ребенку?
                        </div>
                        <div class="hidden-questblock">
                            Да, вы можете подьехать в наш офис по адресу ул. Ленина 18 офис 115 ежедневно, мы работаем
                            круглосуточно, потому что дорожим своими клиентами.
                        </div>
                    </div>
                    <div class="all-question__one">
                        <div class="visible-questblock">
                            Положен ли возврат налога при покупке квартиры ребенку?
                        </div>
                        <div class="hidden-questblock">
                            Да, вы можете подьехать в наш офис по адресу ул. Ленина 18 офис 115 ежедневно, мы работаем
                            круглосуточно, потому что дорожим своими клиентами.
                        </div>
                    </div>
                    <div class="all-question__one">
                        <div class="visible-questblock">
                            Положен ли возврат налога при?
                        </div>
                        <div class="hidden-questblock">
                            Да, вы можете подьехать в наш офис по адресу ул. Ленина 18 офис 115 ежедневно, мы работаем
                            круглосуточно, потому что дорожим своими клиентами.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="help" id="help-block">
        <div class="content">
            <div class="help-content">
                <div class="help-content__description">
                    <p>ПОЛУЧИТЕ БЕСПЛАТНУЮ</p>
                    <p>ЮРИДИЧЕСКУЮ ПОМОЩЬ</p>
                    <p>
                        Опишите свою вопрос максимально
                        подробно, мы свяжемся с Вами и предложим
                        варианты решения
                    </p>
                    <p>Или звоните нам прямо сейчас</p>
                    <p>8-957-535-31-31</p>
                </div>
                <div class="help-content__form">
                    <form id="consulting-form" action="">
                        <p>БЕСПЛАТНАЯ ПОМОЩЬ:</p>

                        <!-- Hidden Required Fields -->
                        <input type="hidden" name="project_name" value="Юридическая компания твой СТАТУС">
                        <input type="hidden" name="admin_email" value="12rostik92@gmail.com"> <!--admin email-->
                        <input type="hidden" name="form_subject" value="Заказ консультации">
                        <!-- END Hidden Required Fields -->

                        <input name="email" type="email" required placeholder="Введите Ваш телефон или email">
                        <textarea name="message" id="" cols="30" rows="10" placeholder="Введите Ваш вопрос"></textarea>
                        <button>Получить помощь</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>


//= template/footer.html


